<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign events = data[1]%}
  {% for content in events %}
    <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 mt-1">
          <span class="badge ml-sm-2 font-weight-bold black text-uppercase align-middle" style="min-width: 75px"> {{content.date }} </span>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 mt-1 mt-md-1">
          <h6 class="title font-weight-bold" style="color: black;">
            {{ content.title }}
          </h6>
          <a href={{ content.url}} rel="external nofollow noopener" target="_blank">{{ content.nameevent}}</a>
      	  <h6 style="font-size: 0.95rem; font-style: italic">{{ content.location }}</h6>
        </div>
    </div>  
  {% endfor %}
</ul>
