<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign events = data[1]%}
  {% for content in events %}
    <div class="row">
        <div class="col-xs-1 cl-sm-1 col-md-1 text-center mt-3 mt-md-3 ml-sm-3 date-column">
          <span class="badge font-weight-bold black text-uppercase align-middle" style="min-width: 75px"> {{content.date }} </span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 mt-3 mt-md-3">
          <h6 class="title font-weight-bold" style="color: black;">
            {{ content.title }}
          </h6>
          <a href={{ content.url}} rel="external nofollow noopener" target="_blank">{{ content.nameevent}}</a>
      	  <h6 style="font-size: 0.95rem; font-style: italic">{{ content.location }}</h6>
        </div>
    </div>  
  {% endfor %}
</ul>
